/* select */
$height: 30px;
$minWidth: 225px;

.select {
  position: relative;

  // min-width: 200px;
  max-width: 450px;
  /* when select open add class OPEN */
  &.open {
    z-index: 5;

    .select__dropdown {
      opacity: 1;

      visibility: visible;
      scrollbar-width: none;
      /* хром, сафари */
      &::-webkit-scrollbar {
        width: 0;
      }
      /* ie 10+ */
      -ms-overflow-style: none;
    }

    .select__arrow {
      transition: 0.3s ease;
      transform: rotate(90deg);
    }
  }

  &__visibleText {
    position: relative;
    z-index: -1;
    overflow: hidden;
    margin: 0 10px 0 0;
    font-size: 16px;
    color: #eff3f5;
    // white-space: nowrap;
    // text-overflow: ellipsis;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $height;
    border-radius: 5px;
  }

  &__input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    display: none;
  }

  &__arrow {
    transition: 0.3s ease;
    position: relative;
    z-index: -1;
    @include backgroundImage("../resources/icons/arrowSide-icon.svg", contain);
    width: 15px;
    height: 15px;
    transform: rotate(-90deg);
  }

  &__dropdown {
    position: absolute;
    transition: 0.3s ease;
    border-radius: 5px;
    top: $height;
    left: 0;
    opacity: 0;
    visibility: hidden;

    overflow-y: auto;
    width: 100%;
    background: rgba(110, 16, 94, 1);
    box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    min-width: $minWidth;
  }

  &__scrollIcon {
    background: rgba(110, 16, 94, 1);
    max-width: 100%;
    width: 100%;
    height: 30px;
    display: block;
    position: sticky;
    bottom: 0;
    left: 0;
    box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    &.active {
      display: flex;
    }
    img,
    source {
      width: 15px;
      height: 15px;
      object-fit: contain;
      transform: rotate(-90deg);
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: 0;
  }

  &__item {
    padding: 10px 20px;

    font-family: Roboto;
    transition: 0.3s ease;
    font-size: 16px;
    &:hover {
      background: #d26600;
      border-radius: 5px;
    }
  }
}
