.otherCasesSlider {
  &__container {
    padding-top: 50px;
    padding-bottom: 80px;
  }

  &__slider {
    padding-bottom: 65px;
  }

  &__slide {
    position: relative;
    max-width: 420px;
    width: 100%;
    height: 220px;
    display: block;
    overflow: hidden;
    &:hover {
      img,
      source {
        transform: scale(1.2);
      }

      & > .otherCasesSlider__cardName,
      &::after {
        opacity: 0;
      }
    }
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      transition: 0.3s ease;
      display: block;
      background: rgba(110, 16, 94, 0.25);
      position: absolute;
      top: 0;
      left: 0;
    }

    img,
    source {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s ease;
    }
  }

  &__cardName {
    font-weight: 800;
    transition: 0.3s ease;
    font-size: 36px;
    color: #eff3f5;
    position: absolute;
    bottom: 10px;
    left: 20px;
  }
}
