.otherCasesSlider {
  &__container {
    padding-top: 50px;
    padding-bottom: 80px;
  }

  &__slider {
    padding-bottom: 65px;
  }
}

@media (max-width: 480px) {
  .otherCasesSlider {
    &__container {
      padding-top: 50px;
      padding-bottom: 30px;
    }
  }
}
