// Sass Variables
$body-html-px: 10px;

/* exemple - .overlay {
  z-index: z(overlay);
}
 */

$z-layers: (
  popUp-Feedback: 350,
  bodyOverlay-fullWidth: 349,
  overLay: 304,
  header: 305,
  burgerIcon: 305,
  wrapper: 303,
);
