@charset "UTF-8";
/* abstracts */
/* mixins */
/* exemple - .overlay {
  z-index: z(overlay);
}
 */
/* for z-index layers */
/* vendors - code from side sources and Libraries */
/* components */
.previewCard {
  position: relative;
  width: 100%;
  height: 310px;
  font-family: Montserrat;
  color: #eff3f5;
  z-index: 4;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
}

.previewCard * {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.previewCard:hover:after {
  opacity: 0;
}

.previewCard:hover > *:not(.previewCard__image) {
  opacity: 0;
}

.previewCard:hover .previewCard__image {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.previewCard::after {
  content: "";
  background-color: #bd1c9f;
  opacity: 0.5;
  position: absolute;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.previewCard__image {
  width: 100%;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 2;
}

.previewCard__image img,
.previewCard__image source {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.previewCard__name {
  font-weight: bold;
  font-size: 30px;
  grid-column: 1/2 span;
  line-height: 1.2;
}

.previewCard__gridWrapper {
  position: relative;
  z-index: 4;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.previewCard__gridWrapper > :nth-child(odd):not(:first-child) {
  justify-self: end;
}

.previewCard__socialMediaLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 16px;
}

.previewCard__socialMediaIcon {
  margin-right: 10px;
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
}

.previewCard__socialMediaIcon img,
.previewCard__socialMediaIcon source {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1024px) {
  .previewCard__name {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .previewCard__name {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .previewCard {
    max-width: 280px;
    height: 280px;
  }
}

.getFeedBack {
  background: #d26600;
  max-width: 752px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25), inset 0px 0px 8px 8px rgba(110, 16, 94, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25), inset 0px 0px 8px 8px rgba(110, 16, 94, 0.25);
  font-family: Montserrat;
  border-radius: 50px;
  width: 100%;
}

.getFeedBack.popUp {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 350;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
}

.getFeedBack.popUp .getFeedBack__closeIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.getFeedBack.popUp.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.getFeedBack__closeIcon {
  display: none;
  width: 45px;
  height: 45px;
  right: 30px;
  top: 30px;
  z-index: 350;
  position: absolute;
  border: 2px solid white;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
}

.getFeedBack__closeIcon::after, .getFeedBack__closeIcon::before {
  content: "";
  position: absolute;
  height: 2px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  width: 60%;
  background-color: white;
}

.getFeedBack__closeIcon::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.getFeedBack__closeIcon::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.getFeedBack__closeIcon:hover {
  background-color: white;
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.getFeedBack__closeIcon:hover::after, .getFeedBack__closeIcon:hover::before {
  background-color: #d26600;
}

.getFeedBack__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding: 55px 90px 65px;
}

.getFeedBack__title {
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  color: #eff3f5;
  margin-bottom: 35px;
  text-align: center;
  width: 100%;
}

.getFeedBack__input {
  border: 1px solid #eff3f5;
  border-radius: 30px;
  background-color: transparent;
  min-height: 50px;
  width: 100%;
  margin-bottom: 22px;
  padding: 0px 40px;
  color: #eff3f5;
  font-size: 16px;
}

.getFeedBack__input:focus {
  border: 2px solid #eff3f5;
}

.getFeedBack__input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #eff3f5;
  opacity: 0.5;
}

.getFeedBack__input::-moz-placeholder {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #eff3f5;
  opacity: 0.5;
}

.getFeedBack__input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #eff3f5;
  opacity: 0.5;
}

.getFeedBack__input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #eff3f5;
  opacity: 0.5;
}

.getFeedBack__input::placeholder {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #eff3f5;
  opacity: 0.5;
}

.getFeedBack__textArea {
  resize: none;
  height: 150px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.getFeedBack__button {
  min-height: 60px;
  background: #eff3f5;
  border-radius: 50px;
  padding: 0 85px;
  font-weight: 500;
  color: #d26600;
  font-size: 16px;
  margin: 30px auto 0 auto;
  border: 1px solid #d26600;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.getFeedBack__button:hover {
  color: #eff3f5;
  border: 1px solid #eff3f5;
  background-color: transparent;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 1024px) {
  .getFeedBack {
    border-radius: 36px;
    max-width: 600px;
  }
  .getFeedBack__container {
    padding: 55px 90px;
  }
  .getFeedBack__title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .getFeedBack__input:not(.getFeedBack__textArea) {
    min-height: 40px;
  }
  .getFeedBack__input {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
  }
  .getFeedBack__input ::-webkit-input-placeholder {
    font-size: 14px;
  }
  .getFeedBack__input ::-moz-placeholder {
    font-size: 14px;
  }
  .getFeedBack__input :-ms-input-placeholder {
    font-size: 14px;
  }
  .getFeedBack__input ::-ms-input-placeholder {
    font-size: 14px;
  }
  .getFeedBack__input ::placeholder {
    font-size: 14px;
  }
  .getFeedBack__button {
    margin-top: 0px;
    min-height: 50px;
  }
}

@media (max-width: 768px) {
  .getFeedBack {
    max-width: 480px;
    border-radius: 24px;
  }
  .getFeedBack.popUp .getFeedBack__container {
    height: 100%;
  }
  .getFeedBack__container {
    padding: 30px 55px;
  }
  .getFeedBack__title {
    font-size: 28px;
  }
  .getFeedBack__button {
    padding: 0 30px;
    font-size: 14px;
  }
  .getFeedBack__closeIcon {
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 480px) {
  .getFeedBack {
    max-width: 360px;
  }
  .getFeedBack__container {
    padding: 40px 40px 25px;
  }
  .getFeedBack__title {
    font-size: 24px;
  }
  .getFeedBack__button {
    padding: 0 30px;
    font-size: 14px;
    margin-top: 10px;
    min-height: 40px;
  }
  .getFeedBack__closeIcon {
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
  }
  .getFeedBack__input {
    margin-bottom: 15px;
  }
}

@media (max-height: 600px) {
  .getFeedBack.popUp {
    height: 100vh;
    overflow-y: auto;
    border-radius: 0;
  }
  .getFeedBack.popUp .getFeedBack__container {
    height: auto;
  }
}

/* select */
.select {
  position: relative;
  max-width: 450px;
  /* when select open add class OPEN */
}

.select.open {
  z-index: 5;
}

.select.open .select__dropdown {
  opacity: 1;
  visibility: visible;
  scrollbar-width: none;
  /* хром, сафари */
  /* ie 10+ */
  -ms-overflow-style: none;
}

.select.open .select__dropdown::-webkit-scrollbar {
  width: 0;
}

.select.open .select__arrow {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.select__visibleText {
  position: relative;
  z-index: -1;
  overflow: hidden;
  margin: 0 10px 0 0;
  font-size: 16px;
  color: #eff3f5;
}

.select__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30px;
  border-radius: 5px;
}

.select__input {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  display: none;
}

.select__arrow {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  position: relative;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../resources/icons/arrowSide-icon.svg");
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.select__dropdown {
  position: absolute;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 5px;
  top: 30px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  width: 100%;
  background: #6e105e;
  -webkit-box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
          box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  min-width: 225px;
}

.select__scrollIcon {
  background: #6e105e;
  max-width: 100%;
  width: 100%;
  height: 30px;
  display: block;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  -webkit-box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
          box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.select__scrollIcon.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select__scrollIcon img,
.select__scrollIcon source {
  width: 15px;
  height: 15px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.select__list {
  padding: 0;
  margin: 0;
  list-style: 0;
}

.select__item {
  padding: 10px 20px;
  font-family: Roboto;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 16px;
}

.select__item:hover {
  background: #d26600;
  border-radius: 5px;
}

/* layout */
.navigationPages {
  margin-bottom: 40px;
}

.navigationPages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navigationPages__link {
  font-weight: 300;
  font-size: 14px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.navigationPages__link:not(:last-of-type) {
  color: #eff3f5;
  position: relative;
}

.navigationPages__link:not(:last-of-type)::after {
  content: "/";
  position: absolute;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  right: -10px;
  cursor: default;
}

.navigationPages__link:last-of-type {
  background: #eff3f5;
  opacity: 0.8;
  border-radius: 20px;
  padding: 2px 10px;
  color: #6e105e;
}

@media (max-width: 900px) {
  .navigationPages {
    margin-bottom: 20px;
  }
}

#particles-js {
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  z-index: 301;
  top: 0;
  left: 0;
}

.bloggersGallery__container {
  min-height: 100vh;
}

.bloggersGallery__title {
  margin-bottom: 20px;
}

.bloggersGallery__gridWrapper {
  display: grid;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 50px;
  padding-top: 30px;
  padding-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
}

.sortButtons {
  color: #eff3f5;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sortButtons > * {
  margin-top: 20px;
}

.sortButtons__title {
  font-weight: 600;
  font-size: 20px;
  margin-right: 40px;
}

.sortButtons__select:not(:last-of-type) {
  margin-right: 30px;
}

@media (max-width: 768px) {
  .sortButtons__title {
    font-size: 18px;
  }
}
