@media (min-width: 1025px) {
  * {
    cursor: none !important;
    &::before,
    *::after {
      cursor: none !important;
    }
  }

  .pointer {
    position: absolute;
    width: 100px;
    z-index: 400;
    height: 100px;
    pointer-events: none;
    top: 50%;
    left: 50%;
    opacity: 0;
  }

  .pointer .pointer__circle {
    position: absolute;
    top: 50%;
    transform: scale(1) translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    background: #fe8b4c;
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0.37, 0.01, 0, 0.98);

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      border: 2px solid #fe8b4c;
      width: 0px;
      height: 0px;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      transition: 0.3s ease;
    }
  }

  .pointer.hide .pointer__circle {
    transition: all 0.3s;

    &:after {
      width: 60px;
      height: 60px;
    }
  }
}
