.previewCard {
  position: relative;
  max-width: 310px;
  width: 100%;
  font-family: Montserrat;
  color: #eff3f5;
  z-index: 4;
  height: 310px;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  &:hover > &__image {
    transform: scale(1.1);
  }

  &::after {
    content: "";
    background-color: #bd1c9f;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  &__image {
    width: 100%;
    transition: 0.3s ease;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 2;
    img,
    source {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    font-weight: bold;
    font-size: 30px;
    grid-column: 1/2 span;
  }

  &__gridWrapper {
    position: relative;
    z-index: 4;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 20px 10px;
    & > :nth-child(odd):not(:first-child) {
      justify-self: end;
    }
  }

  &__socialMediaLine {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
  }

  &__socialMediaIcon {
    margin-right: 10px;
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
    img,
    source {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
