.videoGallery {
  &__container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__galleryGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px 20px;
  }
}

@media (max-width: 400px) {
  .videoGallery {
    &__galleryGrid {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      gap: 20px;
    }
  }
}
