@charset "UTF-8";
/* abstracts */
/* mixins */
/* exemple - .overlay {
  z-index: z(overlay);
}
 */
/* for z-index layers */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  color: #ffed4b94;
  color: #fc2ce0;
}

/* base */
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 10px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

address > * {
  font-style: normal;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/*--------------------*/
.container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}

.wrapper {
  padding: 20px 0px;
  font-family: Montserrat;
  overflow: hidden;
  position: relative;
  position: relative;
  z-index: 303;
}

.wrapper::after, .wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3.12%, rgba(110, 16, 94, 0)), to(#320029));
  background: -o-linear-gradient(top, rgba(110, 16, 94, 0) 3.12%, #320029 100%);
  background: linear-gradient(180deg, rgba(110, 16, 94, 0) 3.12%, #320029 100%);
  width: 100%;
  height: 225px;
  z-index: -1;
}

.wrapper::before {
  top: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.wrapper::after {
  bottom: 0;
}

@media (max-width: 900px) {
  .bodyOverlay {
    position: relative;
  }
  .bodyOverlay::after {
    content: "";
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;
    min-height: 100vh;
    top: 0;
    width: 40%;
    left: -100%;
    position: absolute;
    display: block;
    z-index: 304;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .bodyOverlay_active {
    overflow: hidden;
  }
  .bodyOverlay_active::after {
    left: 0;
  }
}

@media (max-width: 600px) {
  .bodyOverlay::after {
    width: 20%;
  }
}

.bodyOverlay-fullWidth {
  overflow: hidden;
}

.bodyOverlay-fullWidth::after {
  content: "";
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
  min-height: 100vh;
  top: 0;
  min-width: 100%;
  left: 0%;
  position: fixed;
  display: block;
  z-index: 349;
  background-color: rgba(0, 0, 0, 0.8);
}

.header__container {
  display: grid;
  grid-template-columns: 100px auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  font-family: Montserrat;
  font-weight: 600;
  color: #eff3f5;
  font-size: 20px;
  margin-bottom: 35px;
}

.header__logo {
  max-width: 100px;
  width: 100%;
  display: block;
}

.header__logo img,
.header__logo source {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navigation__link {
  color: #eff3f5;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  display: inline-block;
}

.navigation__link:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}

.pageLanguage__type {
  color: #eff3f5;
}

.pageLanguage__type:first-child {
  padding-right: 15px;
  position: relative;
}

.pageLanguage__type:first-child::after {
  content: "/";
  position: absolute;
  right: 0;
  cursor: default;
}

@media (min-width: 901px) {
  .navigation__link:not(:last-of-type) {
    margin-right: 30px;
  }
  .burgerIcon {
    display: none;
  }
  .header__logo_responsive {
    display: none;
  }
}

@media (max-width: 900px) {
  .header {
    height: 100vh;
    position: fixed;
    max-width: 60%;
    z-index: 305;
    width: 100%;
    top: 0;
    right: -100%;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;
  }
  .header.active {
    right: 0;
  }
  .header__container {
    background-color: #6e105e;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 60px;
    overflow-y: auto;
    position: relative;
    z-index: 3;
  }
  .header__container::after, .header__container::before {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3.12%, rgba(110, 16, 94, 0)), to(#320029));
    background: -o-linear-gradient(top, rgba(110, 16, 94, 0) 3.12%, #320029 100%);
    background: linear-gradient(180deg, rgba(110, 16, 94, 0) 3.12%, #320029 100%);
    width: 100%;
    height: 20%;
    z-index: -1;
  }
  .header__container::before {
    top: 0;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header__container::after {
    bottom: 0;
  }
  .header__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__logo_responsive {
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .responsiveHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navigation__link {
    font-size: 24px;
    text-align: center;
    margin: 0 0 25px 0;
  }
  .burgerIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 32px;
    height: 22px;
    position: relative;
    z-index: 305;
  }
  .burgerIcon::after, .burgerIcon::before,
  .burgerIcon span {
    content: "";
    position: absolute;
    left: 0%;
    border-radius: 3px;
    width: 100%;
    height: 2px;
    background-color: #eff3f5;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .burgerIcon span {
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    top: 50%;
  }
  .burgerIcon::after {
    top: 0%;
  }
  .burgerIcon::before {
    top: 100%;
  }
  .burgerIcon_active span {
    opacity: 0;
  }
  .burgerIcon_active::after, .burgerIcon_active::before {
    top: 50%;
  }
  .burgerIcon_active::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burgerIcon_active::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@media (max-width: 600px) {
  .header {
    max-width: 80%;
  }
  .navigation__link {
    font-size: 20px;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-top: 40px;
}

.footer__logo {
  max-width: 200px;
  width: 100%;
  margin-right: 30px;
}

.footer__logo img,
.footer__logo source {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  font-size: 20px;
  color: #eff3f5;
  margin-bottom: 15px;
  font-weight: 600;
  line-height: 1.2;
  margin-right: 25px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footer__text.hoverable:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}

.footer .socialMedia {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28px, auto));
  gap: 30px;
  justify-content: center;
  width: 100%;
}

.footer .socialMedia__item {
  height: 32px;
  width: 32px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footer .socialMedia__item:hover {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
}

.footer .socialMedia__item img,
.footer .socialMedia__item source {
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .footer__text {
    font-size: 16px;
  }
}

@media (min-width: 769px) {
  .footer__row {
    margin-right: -20px;
    margin-top: 40px;
    padding-bottom: 40px;
  }
  .footer .socialMedia {
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 20px 0;
    text-align: center;
  }
  .footer .socialMedia {
    margin: 0;
    position: static;
    width: 100%;
    text-align: center;
  }
  .footer__text {
    margin: 0 0 20px 0;
  }
  .footer__logo {
    margin: 0 0 20px 0;
  }
}

@media (min-width: 1025px) {
  * {
    cursor: none !important;
  }
  *::before,
  * *::after {
    cursor: none !important;
  }
  .pointer {
    position: absolute;
    width: 100px;
    z-index: 400;
    height: 100px;
    pointer-events: none;
    top: 50%;
    left: 50%;
    opacity: 0;
  }
  .pointer .pointer__circle {
    position: absolute;
    top: 50%;
    -webkit-transform: scale(1) translateY(-50%);
        -ms-transform: scale(1) translateY(-50%);
            transform: scale(1) translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    background: #fe8b4c;
    border-radius: 50%;
    -webkit-transition: all 0.5s cubic-bezier(0.37, 0.01, 0, 0.98);
    -o-transition: all 0.5s cubic-bezier(0.37, 0.01, 0, 0.98);
    transition: all 0.5s cubic-bezier(0.37, 0.01, 0, 0.98);
  }
  .pointer .pointer__circle:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid #fe8b4c;
    width: 0px;
    height: 0px;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 100%;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .pointer.hide .pointer__circle {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .pointer.hide .pointer__circle:after {
    width: 60px;
    height: 60px;
  }
}

.sectionTitle {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 50px;
  line-height: 1.2;
  color: #eff3f5;
  text-align: center;
  text-shadow: 0px 0px 12px #f16b41;
}

.sectionTitle_defaultMarginBottom {
  margin-bottom: 50px;
}

@media (max-width: 1024px) {
  .sectionTitle {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .sectionTitle {
    font-size: 24px;
  }
}
