.partners {
  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1320px;
    justify-content: center;
  }

  &__gridWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 -15px;
  }

  &__item {
    margin: 30px 45px;
    max-width: 200px;
    img,
    source {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
