.ourClientsSection {
  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__comments-slider {
    max-width: 650px;
    width: 100%;
    padding: 10px 10px 50px 10px;
    .swiper-slide {
      transition: 0.6s ease;
      // &:first-of-type {
      //   &::after {
      //     transform: scale(-1, 1) translateY(85%);
      //     left: 25%;
      //   }
      // }
    }
  }

  &__clienInfo-slider {
    padding: 10px 0 20px;
    width: 100%;
    max-width: 870px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

.comment {
  background: #eff3f5;
  border-radius: 5px;
  color: #6e105e;
  line-height: 1.4;
  padding: 15px 20px;
  width: 0;
  // max-width: 640px;
  width: 100%;
  box-shadow: 0px 0px 12px #f16b41;
  position: relative;

  &.swiper-slide:not(.swiper-slide-active) {
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }

  &::after {
    content: "";
    display: block;
    @include backgroundImage("../resources/icons/rectangle-mask.svg", contain);
    width: 150px;
    height: 55px;
    position: absolute;
    left: 35%;
    bottom: 0%;
    transform: translateY(85%);
  }

  &__wrapper {
    border-left: 2px solid rgba(210, 102, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 90px;
    min-height: 70px;
    padding-left: 20px;

    &:before,
    &:after {
      content: "";
      @include backgroundImage("../resources/icons/coma-icon.svg", contain);
      width: 30px;
      height: 50px;
      top: 20px;
      position: absolute;
      left: 25px;
      opacity: 0.3;
    }

    &:after {
      left: 22px * 2;
      transform: translateX(50%);
    }
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.05em;
    margin-bottom: 15px;
  }

  &__supText {
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
    text-align: end;
  }
}

.clientInfo {
  display: flex;
  align-items: center;
  transition: 0.6s ease;
  max-width: 300px;

  & > :first-child {
    margin-right: 20px;
  }
  &__image {
    min-width: 90px;
    max-width: 90px;
    height: 90px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 12px #f16b41;
    img,
    source {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    font-weight: 800;
    font-size: 24px;
    transition: 0.6s ease;
    line-height: 1.2;
    color: #eff3f5;
  }
}

@media (min-width: 481px) {
  .clientInfo {
    &:not(.swiper-slide-prev) {
      max-width: 80px;
      & > .clientInfo__name {
        opacity: 0;
      }
    }

    &__image {
      transition: 0.6s ease;
    }
    &.swiper-slide:not(.swiper-slide-prev) {
      .clientInfo__image {
        transform: scale(0.8);
      }
    }
  }
}

@media (max-width: 1024px) {
  .clientInfo {
    &__name {
      font-size: 20px;
    }
  }

  .comment {
    background: #eff3f5;
    border-radius: 5px;
    color: #6e105e;
    line-height: 1.4;
    padding: 15px 20px;
    width: 0;
    // max-width: 640px;
    width: 100%;
    box-shadow: 0px 0px 12px #f16b41;
    position: relative;
    &::after {
      content: "";
      display: block;
      @include backgroundImage("../resources/icons/rectangle-mask.svg", contain);
      width: 150px;
      height: 55px;
      position: absolute;

      bottom: 0%;
      transform: translateY(85%);
    }

    &__wrapper {
      margin-left: 70px;
      &:before,
      &:after {
        width: 20px;
        height: 40px;
      }
    }
  }
}

@media (max-width: 600px) {
  .ourClientsSection {
    &__comments-slider {
      padding: 10px 10px 40px 10px;
    }
  }

  .comment {
    &::after {
      width: 100px;
      transform: translateY(75%);
    }

    &__wrapper {
      width: auto;
      margin-left: 60px;
      &:before,
      &:after {
        width: 20px;
        height: 30px;
      }

      &:after {
        left: 20px * 2;
      }
    }
  }
}

@media (max-width: 480px) {
  .ourClientsSection {
    &__comments-slider {
      padding: 10px 10px 40px 10px;
    }

    &__clienInfo-slider {
      max-width: 400px;
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: block;
      position: absolute;
      bottom: 0;
      width: 35px;
      height: 35px;
      top: 50%;
      transform: translateY(25%);
      &::after {
        display: none;
      }

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        @include backgroundImage("../resources/icons/arrowSide-icon.svg", contain);
      }
    }

    .swiper-button-next {
      transform: translateY(25%) rotate(180deg);
      right: 35px;
    }

    .swiper-button-prev {
      right: 140px;
      left: auto;
    }
  }

  .comment {
    &__wrapper {
      width: auto;
      margin-left: 40px;
      border-width: 0px;
      margin: 0;
      padding: 0;
      &:before,
      &:after {
        display: none;
      }

      &:after {
        left: 10px * 2;
      }
    }

    &__text {
      font-size: 14px;
    }
  }

  .clientInfo {
    flex-direction: column;
    text-align: center;
    transition: 0.6s ease-in-out;
    width: auto;
    max-width: 200px;
    &.swiper-slide:not(.swiper-slide-active) {
      opacity: 0;
      visibility: hidden;
      transform: scale(0);
    }
    // &:not(.swiper-slide-prev) {
    //   transform: scale(1);
    // }

    // &:not(.swiper-slide-prev) {
    //   // max-width: 120px;
    //   & > .clientInfo__name {
    //     opacity: 1;
    //   }
    // }

    & > :first-child {
      margin: 0 0 20px 0;
    }
    &__image {
      min-width: 100px;
      max-width: 100px;
      height: 100px;
    }

    &__name {
      font-size: 16px;
    }
  }
}

@media (max-width: 380px) {
  .ourClientsSection {
    .swiper-button-next,
    .swiper-button-prev {
      width: 25px;
      height: 25px;
    }

    .swiper-button-next {
      right: 10px;
    }

    .swiper-button-prev {
      right: 80px;
      left: auto;
    }
  }
}
